body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#id1
{
    background-color:deepskyblue;
    font-size:large;
}
#id2
{
    
    background-color: blueviolet;

}
id3
{
    font-family:'Georgia';
    font-size:xx-large;
    
}
.container
{
    width:"100%";
}